*{
  font-family: 'Arvo', serif;

}

body{
  height:100%;
  max-height: 100%;
}

#navbar{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: .7;
}

#background0{
  background-image: url("https://mgcreativedesign.files.wordpress.com/2014/11/website-design-background.png");
  color: white;
  background-size: cover;
  height: 100%;
  background-position: bottom;
}

#background1{
  background-color: white;
  color: black;
}

#background2{
  background-position: bottom;
  background-image: url(https://images.unsplash.com/photo-1422207258071-70754198c4a2);
  height: 90vh;
}

#background3{
  background-position: bottom;
  height: 90vh;
}

#main-title{
  margin-top: 33vh;
  margin-left: 14vw;
  width: fit-content;
}

.customHr {
    width: inherit;
    font-size: 10px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;

    background-color: grey;
    margin-top: -6px;
    margin-bottom: 10px;
}

.title{
  margin-top: 10vh;
  text-align: center;
  width: fit-content;
  color:inherit;
}

.row{
  max-width: 80vw;
}

hr{
  width:100%;
}
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.row{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.bottom-row{
  margin-bottom: 20vh;
  width: inherit;
}

.caption{
  margin-left: 45vw;
  color:white;
  min-width: 25vw;
}

.centered{
  width: fit-content;
}

footer{
  background-color: #bbb;
}

.footsy{
  text-align: center;
  padding: 2vh;
}

p {
  padding: 0;
  margin: 0;
  padding-top: 1vh;
}