*{
  font-family: 'Arvo', serif;
  /*border:1px solid red; */
}

body{
  height:100%;
  max-height: 100%;
  margin-top: 0px;
  padding-bottom:0;
  margin-bottom: 0;
}

#navbar{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: .7;
}

#background0{
  background-image: url("https://mgcreativedesign.files.wordpress.com/2014/11/website-design-background.png");
  color: white;
  background-size: cover;
  height: 100%;
  background-position: bottom;
}

#background1{
  background-color: white;
  color: black;
}

#background2{
  background-size: cover;
  background-image: url(Coffee.png);
  height: 90vh;
}


#background3{
  background-position: bottom;
  max-height: 90vh;
  background-color:#dce1ea;
  padding-bottom: 10vh;
}

#background4{

  margin-bottom: 10vh;
  padding-bottom: 5vh;
  overflow: auto;
}

#main-title{
  margin-top: 33vh;
  margin-left: 14vw;
  width: fit-content;
}

#intresnat{
  max-width: 30vw;
}

.customHr {
    width: inherit;
    font-size: 10px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;

    background-color: grey;
    margin-top: -6px;
    margin-bottom: 10px;
}

.title{
  margin-top: 10vh;
  text-align: center;
  width: fit-content;
  color:inherit;
}

hr{
  width:100%;
}
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.row{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.bottom-row{
  margin-bottom: 20vh;
  width: inherit;
}

.caption{
  margin-left: 45vw;
  color:white;
  min-width: 25vw;
}

.centered{
  width: fit-content;
}

footer{
  background-color: #bbb;
  margin-top: 5 vh;
  bottom: 0;
}

.footsy{
  text-align: center;
  padding: 2vh;
  width: 100%;
  position: bottom;

}

p {
  padding: 0;
  margin: 0;
  padding-top: 1vh;
}

.justiffy{
  text-align: justify;
  text-align-last: justify;
}

.jiffy{
  display: inline-block;
}

.wrong{
  color: gray;
}

.fa {
  padding: 20px;
  width: 20vw;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #4078c0;
  color: white;
}

.fa-github {
  background: #4078c0;
  color: white;
}

.fa-free-code-camp {
  background: #006400;
  color: white;
  font-size: 15vw;
}
