.container{
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    grid-gap: 5px;
    margin: 25vh;
    justify-content: space-between;
    text-align: center;
    background-color: #000000 ;
    font-size: 100px;
}

.container > *{
    background-color: #fff;
}

.element{
    cursor: pointer;
}